<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h1>Tasks</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render @tasks %>
    </div>
    <div>
      <%= link_to 'New Task', new_task_path %>
    </div>
  </div>
</div>

