<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>New Task</h1>

      <%= render 'form', task: @task %>

      <%= link_to 'Back', tasks_path %>
    </div>
  </div>
</div>
