<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= render @task %>

      <%= link_to 'Edit', edit_task_path(@task) %> |
      <%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %> |
      <%= link_to 'Back', tasks_path %>
    </div>
  </div>
</div>
