@import "tasks";
@import "bootstrap/scss/bootstrap";

main a,
.navbar a {
	color: #cc0000;
}
main a:hover,
.navbar a:hover {
	color: #a70000;
	border: none;
	padding: 0;
}
.task a:hover {
	color: #a70000;
	text-decoration: none;
	border: thin solid #a70000;
	padding: 2px;
}
