// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$cool-color: #cc0000;

.task {
	margin-bottom: 1rem;
	padding: 0.5rem;
	a {
		color: $cool-color;
	}
}
